/* Less than 600px */
body {
	background: white;
	font-size: 18px;
	text-decoration:none;
	color:#000;
}


/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
	body {
		background: white;
		font-size:20px;
		text-decoration:none;
		color:#000;
	}
}

/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {
	body {
		background:white;
		font-size: 20px;
		text-decoration:none;
		color:#654212;
		text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
	}

	h2 	{
		font-size:16px;
		margin-left:150px;
		float:right;
		}
		
	#imageholder {
			margin-left:110px;
			margin-top:-20px;
			}
		
	#wrapper {
		width:660px;
		height:auto;
		/*border: 2px solid black; */
		margin-left:50px;
	
			}
	
	
	
	
	
	
	}

/* Print */
@media print {
	body {
		background: none !important;
	}
}

img {
	max-width:100%;
	height:auto;
	}